@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Práctica EMS Curso 2018/2019</h1>
    <p class="lead">Gestión de la información de la asignatura de EMS.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Gestión de Profesores</h2>
		<img src="~/Imagenes/GestionProfesores.png" width="300px" height="250px" />
		<button class="btn">@Html.ActionLink("Profesores", "Index", "Profesores")</button>
	</div>
	<div class="col-md-4">
		<h2>Gestión de Alumnos</h2>
		<img src="~/Imagenes/GestionAlumnos.jpg" width="300px" height="250px" />
		<button class="btn">@Html.ActionLink("Alumnos", "Index", "Alumnos")</button>
	</div>
	<div class="col-md-4">
		<h2>Gestión Evaluación</h2>
		<img src="~/Imagenes/GestionEvaluacion.jpg" width="300px" height="250px" />
		<button class="btn">@Html.ActionLink("Evaluaciones", "Index", "Evaluaciones")</button>
	</div>
</div>